<div class="container">
  <h1>Listes des opérations</h1>

  <!-- <!-- <input type="date" [(ngModel)]= >--<input type="date">
  <br>
  <br> -->
  <input type="text" [(ngModel)]=ribSelected placeholder="entrez un rib"/>
  <br>
  <input type="date" [(ngModel)]=dateMin placeholder="entrez la date mini"/>--<input type="date" [(ngModel)]=dateMax placeholder="entrez la date maxi"/>
  <br>
  <button type="button" (click)=getSelectedRib()>Rechercher</button>

  <ul *ngFor="let prout of operationSelected">
    <li>{{prout.RIB}}</li>
    <li>{{prout.Date}}</li>
    <li>{{prout.Libelle}}</li>
    <li>{{prout.Montant}} {{prout.Devise}}</li>
  </ul>
  <br>
  <br>
  <hr />
  <span>{{ operations | json }}</span>
</div>